# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [5]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

In [10]:
baby_names.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

### Step 4. See the first 10 entries

In [8]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [23]:
baby_names.drop(['Unnamed: 0','Id'],axis=1,inplace=True)

### Step 6. Is there more male or female names in the dataset?

In [24]:
baby_names[baby_names.Gender == 'M'].value_counts()

Name    Year  Gender  State  Count
Aaban   2013  M       NY     6        1
Lukas   2009  M       LA     10       1
                      NJ     43       1
                      NE     8        1
                      NC     43       1
                                     ..
Emmett  2006  M       AR     5        1
                      AL     6        1
        2005  M       WI     10       1
                      WA     15       1
Zyren   2013  M       TX     6        1
Length: 457549, dtype: int64

In [68]:
baby_names['Gender'].value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

In [27]:
baby_names[baby_names.Gender == 'F'].count()

Name      558846
Year      558846
Gender    558846
State     558846
Count     558846
dtype: int64

### Step 7. Group the dataset by name and assign to names

In [69]:
name = baby_names.groupby(['Name']).sum()

In [76]:
name

           Year  Count
Name
Aaban      4027     12
Aadan      8039     23
Aadarsh    2009      5
Aaden    393963   3426
Aadhav     2014      6
...         ...    ...
Zyra      14085     42
Zyrah      4024     11
Zyren      2013      6
Zyria     20089     59
Zyriah    18087     58

[17632 rows x 2 columns]

### Step 8. How many different names exist in the dataset?

In [48]:
baby_names['Name'].nunique()

17632

### Step 9. What is the name with most occurrences?

In [79]:
name.Count.idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [87]:
(name[name.Count == name.Count.min()])

          Year  Count
Name
Aadarsh   2009      5
Aadin     2008      5
Aaima     2013      5
Aalaya    2014      5
Aaminah   2004      5
...        ...    ...
Zyien     2009      5
Zyire     2007      5
Zykeriah  2008      5
Zykierra  2007      5
Zymari    2009      5

[2578 rows x 2 columns]

### Step 11. What is the median name occurrence?

In [96]:
name[name.Count == name.Count.median()]

          Year  Count
Name
Aishani  14078     49
Alara    16079     49
Alysse   16057     49
Ameir    16086     49
Anely    16071     49
...        ...    ...
Sriram   14054     49
Trinton  16069     49
Vita     14075     49
Yoni     16060     49
Zuleima  14050     49

[66 rows x 2 columns]

In [97]:
name.Count.median()

49.0

### Step 12. What is the standard deviation of names?

In [99]:
name.std()

Year     245161.817178
Count     11006.069468
dtype: float64

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [100]:
name.describe()

               Year          Count
count  1.763200e+04   17632.000000
mean   1.158117e+05    2008.932169
std    2.451618e+05   11006.069468
min    2.004000e+03       5.000000
25%    4.017000e+03      11.000000
50%    1.606100e+04      49.000000
75%    7.846425e+04     337.000000
max    2.233993e+06  242874.000000